 
<%- model_class = Faq -%>
 

 <% provide(:title, "Edit Frequently Asked Questions" ) %>
  
  <div class="block">
 <div class="row">
	 <div class="col-sm-offset-1 col-sm-10">
		 
		 
 
		 <%= render :partial => 'form' %>

  <%= link_to 'Show', @faq %> |
  <%= link_to 'Back', faqs_path %>
	
</div>
</div></div>