<%- model_class = Faq -%>
 

 <% provide(:title, "New Frequently Asked Questions" ) %>
  
  <div class="block">
 <div class="row">
	 <div class="col-sm-offset-1 col-sm-10">
		 
		 <h2>New Frequently Asked Question</h2>
 
		 <%= render :partial => 'form' %>

  
	
</div>
</div></div>