<%- model_class = Faq -%>
 

 <% provide(:title, "New Frequently Asked Questions" ) %>
  
 
 <div class="row">
	 <div class="col-sm-offset-1 col-sm-10">
		 
		 
 
		 <%= render :partial => 'form' %>

  
	
</div>
</div>