	  <div class="row white_text">  
	 <div class="col-sm-12">
	 
	 
				<hr class="et_pb_module et_pb_space et_pb_divider et_pb_divider_3 et-hide-mobile">
				
				
	 <h1 style="text-align: center;"><strong>What’s Features do I get with Premium Forms ($19/month)?</strong></h1>

	 	 </div>
	 </div>		 
   	  <div class="row white_text">  
   	 <div class="col-sm-offset-1 col-sm-5">	 
			 
			 
	 				 
				
	  		  <%= image_tag("Premium-landing-Page.png", :class =>"img pull-center", :alt => "Premium Landing" ) %>
				
				
				
   	 </div>		  
      	 <div class="col-sm-5">		 
				
	 <p>• <strong>Branded Landing Page</strong> with your logo</p>
	 <p>• Your choice of up to <strong>6 complete incoming request forms</strong> (Choose as many as apply)</p>
	 <p>• <strong>Individual recipients or multiple recipients</strong> per form (ie. “Website” form goes to one email address, “Digital Images” form goes to another, and “Submit An Event” form goes to both.)</p>
<div class="pull-center">	
<%= button_to("Get Premium --->",  "http://www.cmiforms.com/get-premium/", class: 'btn btn-success  btn-lg btn-block')%> 
	 	</div>	 
	 	 </div>
	 </div>
	 