    <div class="row">  
 <div class="col-sm-12">
 
	
 <%= render :partial => 'first_with_signup' %>	
	
	<div id="question">
	</div>
	
	
 <div class="row">  
	 <div class="col-sm-12 white_text">
		 <hr class="et_pb_module et_pb_space et_pb_divider et_pb_divider_0 et-hide-mobile"> 
		 
		 <h1 style="text-align: center;"><strong>What’s included with my FREE event form?</strong></h1>
	 </div>
 </div>
 
 

	 
 <div class="row ">  
	
	
	 <div class="col-sm-6">
		 <div class="block">		
			 <h3>1. Your Event Form:</h3>
			 <p>Try out your event request form:</p>
			 <p></p>
	 
			 <h1></h1><span>(we'll send this sample form to the email address so you can see what the results will look like)</span>
			 <%= render :partial => 'questions/form', :object => @question %>
	 
		 </div>	  
	 
	 </div>
   
	 <div class="col-sm-6 white_text">
	 
	 
			 
				
	 <h3>2. Your&nbsp;Unique Form Address:</h3>
	 <p><em><img class="aligncenter size-large wp-image-24259" src="http://www.cmiforms.com/wp-content/uploads/2016/01/Address-Bar-1024x90.jpg" alt="Address-Bar" width="1024" height="90" srcset="http://www.cmiforms.com/wp-content/uploads/2016/01/Address-Bar-300x26.jpg 300w, http://www.cmiforms.com/wp-content/uploads/2016/01/Address-Bar-768x67.jpg 768w, http://www.cmiforms.com/wp-content/uploads/2016/01/Address-Bar-1024x90.jpg 1024w, http://www.cmiforms.com/wp-content/uploads/2016/01/Address-Bar-1080x95.jpg 1080w, http://www.cmiforms.com/wp-content/uploads/2016/01/Address-Bar.jpg 1138w" sizes="(max-width: 1024px) 100vw, 1024px"></em></p>
	 <p class='main_page_med_text'>Link to this page from a button on your website, or give out your direct address to whoever needs it.</p>

	 			 <br>
				
 			 <br>
				
	 <h3>3. Event Request Emails directly to your inbox:</h3>
	 <p><img class="aligncenter size-full wp-image-24260" src="http://www.cmiforms.com/wp-content/uploads/2016/01/Laptop-email-received.png" alt="Laptop-email-received" width="500" height="288" srcset="http://www.cmiforms.com/wp-content/uploads/2016/01/Laptop-email-received-300x173.png 300w, http://www.cmiforms.com/wp-content/uploads/2016/01/Laptop-email-received.png 500w" sizes="(max-width: 500px) 100vw, 500px"></p>

   	 			 <br>
				
    			 <br> 
				 
				 <div class=" ">
	 				<img src="http://www.cmiforms.com/wp-content/uploads/2016/01/Try-Premium.png" alt="">
				
				
				
	 
	 
	 
 	 </div>
 </div>  <!-- row end -->
	 
	 
	 
	 
	 
	  
	 
	 <%= render :partial => 'center_text' %>
	 
 </div>
</div>
 	 
	 
	 
	 
	  
   	  <div class="row">  
   	 <div class="col-sm-12">
	 
	  <%= render :partial => 'contact' %>
	 
	  
	  </div>
	 </div>
 
 
  
					
 			 
			 
 				
 	 

 	 