 sdvdvsdvsdvsdv
 
 <div id="page-container" style="padding-top: 132px; margin-top: -47px;" class="et-animated-content">
 

 		<div id="et-main-area">
 <div id="main-content">


			
 				<article id="post-24240" class="post-24240 page type-page status-publish hentry">

				
 					<div class="entry-content">
 					<div class="et_pb_section et_pb_section_parallax  et_pb_section_0 et_pb_with_background et_section_regular">
 				<div class="et_parallax_bg et_pb_parallax_css" style="background-image: url(http://www.cmiforms.com/wp-content/uploads/2016/01/bg-9-full.jpg);"></div>
				
					
 					<div class=" et_pb_row et_pb_row_0">
				
 				<div class="et_pb_column et_pb_column_2_3 et_pb_column_0">
				
 				<div class="et_pb_module et-waypoint et_pb_image et_pb_animation_off et_pb_image_0 et_always_center_on_mobile et_pb_image_sticky et-animated">
 				<a href="http://www.churchmarketingideas.com" target="_blank"><img src="http://www.cmiforms.com/wp-content/uploads/2016/01/Full-name-forms-logo.png" alt=""></a>
 			</div><div class="et_pb_module et-waypoint et_pb_image et_pb_animation_off et_pb_image_1 et_always_center_on_mobile et-animated">
 				<img src="http://www.cmiforms.com/wp-content/uploads/2016/01/iphone-A-B.png" alt="">
 			</div>
 			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_3 et_pb_column_1">
				
 				<div class="et_pb_module et-waypoint et_pb_image et_pb_animation_off et_pb_image_2 et_always_center_on_mobile et_pb_image_sticky et-animated">
 				<img src="http://www.cmiforms.com/wp-content/uploads/2016/01/Get-this-tool-free.png" alt="">
 			</div><div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_0">
 				 <p></p><link href="http://www.cmiforms.com/wp-content/plugins/cp-contact-form-with-paypal/css/stylepublic.css" type="text/css" rel="stylesheet"><link href="http://www.cmiforms.com/wp-content/plugins/cp-contact-form-with-paypal/css/cupertino/jquery-ui-1.8.20.custom.css" type="text/css" rel="stylesheet">
 <script type="text/javascript">
  function cp_contactformpp_cerror(id){$dexQuery = jQuery.noConflict();$dexQuery("#hdcaptcha_error"+id).css('top',$dexQuery("#hdcaptcha"+id).outerHeight());$dexQuery("#hdcaptcha_error"+id).css("display","inline");}
  function doValidate_1(form)
  {
     $dexQuery = jQuery.noConflict();
     document.cp_contactformpp_pform_1.cp_ref_page.value = document.location;
         {
         var cpefb_error = 0;
         $dexQuery("#cp_contactformpp_pform_1").find(".cpefb_error").each(function(index){
             if ($dexQuery(this).css("display")!="none")
                 cpefb_error++;    
             });
         if (cpefb_error==0)
         {
             $dexQuery("#cp_contactformpp_pform_1").find("select").children().each(function(){
 		    	    $dexQuery(this).val($dexQuery(this).attr("vt"));
 	        });
 	        $dexQuery("#cp_contactformpp_pform_1").find("input:checkbox,input:radio").each(function(){	            
 		    	    $dexQuery(this).val($dexQuery(this).attr("vt"));
 	        });
 			$dexQuery("#cp_contactformpp_pform_1").find( '.ignore' ).parents( '.fields' ).remove();
 		}
         return true;
     }  
  }
 </script>
 <form class="cpp_form" name="cp_contactformpp_pform_1" id="cp_contactformpp_pform_1" action="" method="post" enctype="multipart/form-data" onsubmit="return doValidate_1(this);" novalidate="novalidate"><input type="hidden" name="cp_pform_psequence" value="_1"><input type="hidden" name="cp_contactformpp_pform_process" value="1"><input type="hidden" name="cp_contactformpp_id" value="18"><input type="hidden" name="cp_ref_page" value=""><input type="hidden" name="form_structure_1" id="form_structure_1" size="180" value="[[{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;fieldname3&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:0,&quot;ftype&quot;:&quot;ftext&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;Your Name:&quot;,&quot;predefined&quot;:&quot;&quot;,&quot;predefinedClick&quot;:false,&quot;required&quot;:true,&quot;size&quot;:&quot;large&quot;,&quot;minlength&quot;:&quot;&quot;,&quot;maxlength&quot;:&quot;&quot;,&quot;equalTo&quot;:&quot;&quot;,&quot;fBuild&quot;:{}},{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;email&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:1,&quot;ftype&quot;:&quot;femail&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;Your Email (Destination address for all submitted forms):&quot;,&quot;predefined&quot;:&quot;&quot;,&quot;predefinedClick&quot;:false,&quot;required&quot;:true,&quot;size&quot;:&quot;large&quot;,&quot;equalTo&quot;:&quot;&quot;,&quot;fBuild&quot;:{}},{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;fieldname7&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:2,&quot;ftype&quot;:&quot;ftext&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;Church Name:&quot;,&quot;predefined&quot;:&quot;&quot;,&quot;predefinedClick&quot;:false,&quot;required&quot;:true,&quot;size&quot;:&quot;large&quot;,&quot;minlength&quot;:&quot;&quot;,&quot;maxlength&quot;:&quot;&quot;,&quot;equalTo&quot;:&quot;&quot;,&quot;fBuild&quot;:{}},{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;fieldname5&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:3,&quot;ftype&quot;:&quot;ftext&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;Church Website Address:&quot;,&quot;predefined&quot;:&quot;&quot;,&quot;predefinedClick&quot;:false,&quot;required&quot;:false,&quot;size&quot;:&quot;large&quot;,&quot;minlength&quot;:&quot;&quot;,&quot;maxlength&quot;:&quot;&quot;,&quot;equalTo&quot;:&quot;&quot;,&quot;fBuild&quot;:{}},{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;fieldname6&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:4,&quot;ftype&quot;:&quot;fdropdown&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;How did you hear about us?&quot;,&quot;size&quot;:&quot;large&quot;,&quot;required&quot;:true,&quot;choiceSelected&quot;:&quot;Please Select... - Please Select...&quot;,&quot;showDep&quot;:true,&quot;choices&quot;:[&quot;Please Select...&quot;,&quot;Google Search&quot;,&quot;Facebook&quot;,&quot;Twitter&quot;,&quot;ChurchMarketingIdeas.com&quot;,&quot;From a friend&quot;,&quot;Other...&quot;],&quot;choicesVal&quot;:[&quot;Please Select...&quot;,&quot;Google Search&quot;,&quot;Facebook&quot;,&quot;Twitter&quot;,&quot;ChurchMarketingIdeas.com&quot;,&quot;From a friend&quot;,&quot;Other...&quot;],&quot;choicesDep&quot;:[[],[],[],[],[],[],[&quot;fieldname4&quot;]],&quot;fBuild&quot;:{}},{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;fieldname4&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:5,&quot;ftype&quot;:&quot;ftext&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;If other, please specify...&quot;,&quot;predefined&quot;:&quot;&quot;,&quot;predefinedClick&quot;:false,&quot;required&quot;:true,&quot;size&quot;:&quot;large&quot;,&quot;minlength&quot;:&quot;&quot;,&quot;maxlength&quot;:&quot;&quot;,&quot;equalTo&quot;:&quot;&quot;,&quot;fBuild&quot;:{}}],[{&quot;title&quot;:&quot;&quot;,&quot;description&quot;:&quot;[Yes, our event form is free to use. Premium features are also available]&quot;,&quot;formlayout&quot;:&quot;top_aligned&quot;,&quot;formtemplate&quot;:&quot;&quot;}]]">
 <div id="fbuilder">
   <div id="fbuilder_1">
       <div id="formheader_1"><div class="fform" id="field"><h1></h1><span>[Yes, our event form is free to use. Premium features are also available]</span></div></div>
       <div id="fieldlist_1" class="top_aligned"><div class="pb0 pbreak" page="0"><div class="fields " id="field_1-0"><label for="fieldname3_1">Your Name:<span class="r">*</span></label><div class="dfield"><input id="fieldname3_1" name="fieldname3_1" minlength="" maxlength="" class="field large required" type="text" value=""><span class="uh"></span></div><div class="clearer"></div></div><div class="fields " id="field_1-1"><label for="email_1">Your Email (Destination address for all submitted forms):<span class="r">*</span></label><div class="dfield"><input id="email_1" name="email_1" class="field email large required" type="text" value=""><span class="uh"></span></div><div class="clearer"></div></div><div class="fields " id="field_1-2"><label for="fieldname7_1">Church Name:<span class="r">*</span></label><div class="dfield"><input id="fieldname7_1" name="fieldname7_1" minlength="" maxlength="" class="field large required" type="text" value=""><span class="uh"></span></div><div class="clearer"></div></div><div class="fields " id="field_1-3"><label for="fieldname5_1">Church Website Address:</label><div class="dfield"><input id="fieldname5_1" name="fieldname5_1" minlength="" maxlength="" class="field large" type="text" value=""><span class="uh"></span></div><div class="clearer"></div></div><div class="fields " id="field_1-4"><label for="fieldname6_1">How did you hear about us?<span class="r">*</span></label><div class="dfield"><select id="fieldname6_1" name="fieldname6_1" class="field  depItemSel large required"><option selected="" class="depItem" value="Please Select..." vt="Please Select...">Please Select...</option><option class="depItem" value="Google Search" vt="Google Search">Google Search</option><option class="depItem" value="Facebook" vt="Facebook">Facebook</option><option class="depItem" value="Twitter" vt="Twitter">Twitter</option><option class="depItem" value="ChurchMarketingIdeas.com" vt="ChurchMarketingIdeas.com">ChurchMarketingIdeas.com</option><option class="depItem" value="From a friend" vt="From a friend">From a friend</option><option dep="fieldname4" class="depItem" value="Other..." vt="Other...">Other...</option></select><span class="uh"></span></div><div class="clearer"></div><div class="clearer"></div></div><div class="fields " id="field_1-5" style="display: none;"><label for="fieldname4_1">If other, please specify...<span class="r">*</span></label><div class="dfield"><input id="fieldname4_1" name="fieldname4_1" minlength="" maxlength="" class="field large required ignore" type="text" value=""><span class="uh"></span></div><div class="clearer"></div></div><div class="pbSubmit">Let's Get Started!</div></div></div>
   </div>
 </div>    
 <div id="cpcaptchalayer_1">
  
 </div>
 <div id="cp_subbtn_1" class="cp_subbtn">Let's Get Started!</div>
 </form> 
 			</div> <!-- .et_pb_text -->
 			</div> <!-- .et_pb_column -->
					
 			</div> <!-- .et_pb_row --><div class=" et_pb_row et_pb_row_1">
				
 				<div class="et_pb_column et_pb_column_4_4 et_pb_column_2">
				
 				<hr class="et_pb_module et_pb_space et_pb_divider et_pb_divider_0 et-hide-mobile"><div class="et_pb_text et_pb_module et_pb_bg_layout_dark et_pb_text_align_center  et_pb_text_1">
				
 <h1 style="text-align: center;"><strong>What’s included with my FREE event form?</strong></h1>

 			</div> <!-- .et_pb_text -->
 			</div> <!-- .et_pb_column -->
					
 			</div> <!-- .et_pb_row --><div class=" et_pb_row et_pb_row_2">
				
 				<div class="et_pb_column et_pb_column_1_2 et_pb_column_3">
				
 				<div class="et_pb_text et_pb_module et_pb_bg_layout_dark et_pb_text_align_left  et_pb_text_2">
				
 <h3>1. Your Event Form:</h3>
 <p>Try out your event request form:</p>
 <p></p><link href="http://www.cmiforms.com/wp-content/plugins/cp-contact-form-with-paypal/css/stylepublic.css" type="text/css" rel="stylesheet"><link href="http://www.cmiforms.com/wp-content/plugins/cp-contact-form-with-paypal/css/cupertino/jquery-ui-1.8.20.custom.css" type="text/css" rel="stylesheet">
 <script type="text/javascript">
  function cp_contactformpp_cerror(id){$dexQuery = jQuery.noConflict();$dexQuery("#hdcaptcha_error"+id).css('top',$dexQuery("#hdcaptcha"+id).outerHeight());$dexQuery("#hdcaptcha_error"+id).css("display","inline");}
  function doValidate_2(form)
  {
     $dexQuery = jQuery.noConflict();
     document.cp_contactformpp_pform_2.cp_ref_page.value = document.location;
         {
         var cpefb_error = 0;
         $dexQuery("#cp_contactformpp_pform_2").find(".cpefb_error").each(function(index){
             if ($dexQuery(this).css("display")!="none")
                 cpefb_error++;    
             });
         if (cpefb_error==0)
         {
             $dexQuery("#cp_contactformpp_pform_2").find("select").children().each(function(){
 		    	    $dexQuery(this).val($dexQuery(this).attr("vt"));
 	        });
 	        $dexQuery("#cp_contactformpp_pform_2").find("input:checkbox,input:radio").each(function(){	            
 		    	    $dexQuery(this).val($dexQuery(this).attr("vt"));
 	        });
 			$dexQuery("#cp_contactformpp_pform_2").find( '.ignore' ).parents( '.fields' ).remove();
 		}
         return true;
     }  
  }
 </script>
 <form class="cpp_form" name="cp_contactformpp_pform_2" id="cp_contactformpp_pform_2" action="" method="post" enctype="multipart/form-data" onsubmit="return doValidate_2(this);" novalidate="novalidate"><input type="hidden" name="cp_pform_psequence" value="_2"><input type="hidden" name="cp_contactformpp_pform_process" value="1"><input type="hidden" name="cp_contactformpp_id" value="2"><input type="hidden" name="cp_ref_page" value=""><input type="hidden" name="form_structure_2" id="form_structure_2" size="180" value="[[{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;email&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:0,&quot;ftype&quot;:&quot;femail&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;Your Email &quot;,&quot;predefined&quot;:&quot;&quot;,&quot;predefinedClick&quot;:false,&quot;required&quot;:true,&quot;size&quot;:&quot;large&quot;,&quot;equalTo&quot;:&quot;&quot;,&quot;fBuild&quot;:{}},{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;fieldname3&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:1,&quot;ftype&quot;:&quot;ftext&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;Your Name:&quot;,&quot;predefined&quot;:&quot;&quot;,&quot;predefinedClick&quot;:false,&quot;required&quot;:true,&quot;size&quot;:&quot;large&quot;,&quot;minlength&quot;:&quot;&quot;,&quot;maxlength&quot;:&quot;&quot;,&quot;equalTo&quot;:&quot;&quot;,&quot;fBuild&quot;:{}},{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;subject&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:2,&quot;ftype&quot;:&quot;ftext&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;Event Name&quot;,&quot;predefined&quot;:&quot;&quot;,&quot;predefinedClick&quot;:false,&quot;required&quot;:true,&quot;size&quot;:&quot;large&quot;,&quot;minlength&quot;:&quot;&quot;,&quot;maxlength&quot;:&quot;&quot;,&quot;equalTo&quot;:&quot;&quot;,&quot;fBuild&quot;:{}},{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;fieldname2&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:3,&quot;ftype&quot;:&quot;ftextarea&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;Event Description:&quot;,&quot;predefined&quot;:&quot;&quot;,&quot;predefinedClick&quot;:false,&quot;required&quot;:true,&quot;size&quot;:&quot;large&quot;,&quot;minlength&quot;:&quot;&quot;,&quot;maxlength&quot;:&quot;&quot;,&quot;fBuild&quot;:{}},{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;fieldname1&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:4,&quot;ftype&quot;:&quot;fdate&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;Event Date:&quot;,&quot;predefined&quot;:&quot;&quot;,&quot;predefinedClick&quot;:false,&quot;size&quot;:&quot;large&quot;,&quot;required&quot;:true,&quot;dformat&quot;:&quot;mm/dd/yyyy&quot;,&quot;showDropdown&quot;:false,&quot;dropdownRange&quot;:&quot;-10:+10&quot;,&quot;minDate&quot;:&quot;&quot;,&quot;maxDate&quot;:&quot;&quot;,&quot;invalidDates&quot;:&quot;&quot;,&quot;minHour&quot;:0,&quot;maxHour&quot;:23,&quot;minMinute&quot;:0,&quot;maxMinute&quot;:59,&quot;stepHour&quot;:1,&quot;stepMinute&quot;:1,&quot;showTimepicker&quot;:false,&quot;defaultDate&quot;:&quot;&quot;,&quot;defaultTime&quot;:&quot;&quot;,&quot;working_dates&quot;:[true,true,true,true,true,true,true],&quot;formats&quot;:[&quot;mm/dd/yyyy&quot;,&quot;dd/mm/yyyy&quot;],&quot;fBuild&quot;:{}},{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;fieldname4&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:5,&quot;ftype&quot;:&quot;ftext&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;Event Start Time (include AM or PM):&quot;,&quot;predefined&quot;:&quot;&quot;,&quot;predefinedClick&quot;:false,&quot;required&quot;:true,&quot;size&quot;:&quot;large&quot;,&quot;minlength&quot;:&quot;&quot;,&quot;maxlength&quot;:&quot;&quot;,&quot;equalTo&quot;:&quot;&quot;,&quot;fBuild&quot;:{}},{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;fieldname11&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:6,&quot;ftype&quot;:&quot;ftext&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;Event End Time (Include AM or PM):&quot;,&quot;predefined&quot;:&quot;&quot;,&quot;predefinedClick&quot;:false,&quot;required&quot;:true,&quot;size&quot;:&quot;large&quot;,&quot;minlength&quot;:&quot;&quot;,&quot;maxlength&quot;:&quot;&quot;,&quot;equalTo&quot;:&quot;&quot;,&quot;fBuild&quot;:{}},{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;fieldname5&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:7,&quot;ftype&quot;:&quot;fdropdown&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;Where will your event be taking place?&quot;,&quot;size&quot;:&quot;large&quot;,&quot;required&quot;:true,&quot;choiceSelected&quot;:&quot;Please Select... - Please Select...&quot;,&quot;showDep&quot;:true,&quot;choices&quot;:[&quot;Please Select...&quot;,&quot;At our church&quot;,&quot;Somewhere else...&quot;],&quot;choicesVal&quot;:[&quot;Please Select...&quot;,&quot;At our church&quot;,&quot;Somewhere else...&quot;],&quot;choicesDep&quot;:[[],[&quot;fieldname6&quot;],[&quot;fieldname7&quot;]],&quot;fBuild&quot;:{}},{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;fieldname6&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:8,&quot;ftype&quot;:&quot;ftext&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;In which room is your event?&quot;,&quot;predefined&quot;:&quot;&quot;,&quot;predefinedClick&quot;:false,&quot;required&quot;:true,&quot;size&quot;:&quot;large&quot;,&quot;minlength&quot;:&quot;&quot;,&quot;maxlength&quot;:&quot;&quot;,&quot;equalTo&quot;:&quot;&quot;,&quot;fBuild&quot;:{}},{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;fieldname7&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:9,&quot;ftype&quot;:&quot;ftext&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;What is the Venue Name and Address?&quot;,&quot;predefined&quot;:&quot;&quot;,&quot;predefinedClick&quot;:false,&quot;required&quot;:true,&quot;size&quot;:&quot;large&quot;,&quot;minlength&quot;:&quot;&quot;,&quot;maxlength&quot;:&quot;&quot;,&quot;equalTo&quot;:&quot;&quot;,&quot;fBuild&quot;:{}},{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;fieldname8&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:10,&quot;ftype&quot;:&quot;fdropdown&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;Is registration required?&quot;,&quot;size&quot;:&quot;large&quot;,&quot;required&quot;:true,&quot;choiceSelected&quot;:&quot;Please Select... - Please Select...&quot;,&quot;showDep&quot;:true,&quot;choices&quot;:[&quot;Please Select...&quot;,&quot;Yes&quot;,&quot;No&quot;],&quot;choicesVal&quot;:[&quot;Please Select...&quot;,&quot;Yes&quot;,&quot;No&quot;],&quot;choicesDep&quot;:[[],[&quot;fieldname9&quot;],[]],&quot;fBuild&quot;:{}},{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;fieldname9&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:11,&quot;ftype&quot;:&quot;ftext&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;How does someone register? (Phone number, website, etc.)&quot;,&quot;predefined&quot;:&quot;&quot;,&quot;predefinedClick&quot;:false,&quot;required&quot;:true,&quot;size&quot;:&quot;large&quot;,&quot;minlength&quot;:&quot;&quot;,&quot;maxlength&quot;:&quot;&quot;,&quot;equalTo&quot;:&quot;&quot;,&quot;fBuild&quot;:{}},{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;fieldname10&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:12,&quot;ftype&quot;:&quot;ftextarea&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;How would you like your event promoted?&quot;,&quot;predefined&quot;:&quot;&quot;,&quot;predefinedClick&quot;:false,&quot;required&quot;:true,&quot;size&quot;:&quot;large&quot;,&quot;minlength&quot;:&quot;&quot;,&quot;maxlength&quot;:&quot;&quot;,&quot;fBuild&quot;:{}},{&quot;form_identifier&quot;:&quot;&quot;,&quot;name&quot;:&quot;fieldname12&quot;,&quot;shortlabel&quot;:&quot;&quot;,&quot;index&quot;:13,&quot;ftype&quot;:&quot;fCommentArea&quot;,&quot;userhelp&quot;:&quot;&quot;,&quot;userhelpTooltip&quot;:false,&quot;csslayout&quot;:&quot;&quot;,&quot;title&quot;:&quot;(When you click submit, we'll send this sample form to the email address above so you can see what the results will look like)&quot;,&quot;fBuild&quot;:{}}],[{&quot;title&quot;:&quot;&quot;,&quot;description&quot;:&quot;(we'll send this sample form to the email address so you can see what the results will look like)&quot;,&quot;formlayout&quot;:&quot;top_aligned&quot;,&quot;formtemplate&quot;:&quot;&quot;}]]">
 <div id="fbuilder">
   <div id="fbuilder_2">
       <div id="formheader_2"><div class="fform" id="field"><h1></h1><span>(we'll send this sample form to the email address so you can see what the results will look like)</span></div></div>
       <div id="fieldlist_2" class="top_aligned"><div class="pb0 pbreak" page="0"><div class="fields " id="field_2-0"><label for="email_2">Your Email <span class="r">*</span></label><div class="dfield"><input id="email_2" name="email_2" class="field email large required" type="text" value=""><span class="uh"></span></div><div class="clearer"></div></div><div class="fields " id="field_2-1"><label for="fieldname3_2">Your Name:<span class="r">*</span></label><div class="dfield"><input id="fieldname3_2" name="fieldname3_2" minlength="" maxlength="" class="field large required" type="text" value=""><span class="uh"></span></div><div class="clearer"></div></div><div class="fields " id="field_2-2"><label for="subject_2">Event Name<span class="r">*</span></label><div class="dfield"><input id="subject_2" name="subject_2" minlength="" maxlength="" class="field large required" type="text" value=""><span class="uh"></span></div><div class="clearer"></div></div><div class="fields " id="field_2-3"><label for="fieldname2_2">Event Description:<span class="r">*</span></label><div class="dfield"><textarea id="fieldname2_2" name="fieldname2_2" minlength="" maxlength="" class="field large required"></textarea><span class="uh"></span></div><div class="clearer"></div></div><div class="fields " id="field_2-4"><label for="fieldname1_2">Event Date:<span class="r">*</span> <span class="dformat">(mm/dd/yyyy)</span></label><div class="dfield"><input id="fieldname1_2" name="fieldname1_2" type="hidden" value="04/23/2016"><input id="fieldname1_2_date" name="fieldname1_2_date" class="field datemmddyyyy large required hasDatepicker" type="text" value=""><span class="uh"></span></div><div class="clearer"></div></div><div class="fields " id="field_2-5"><label for="fieldname4_2">Event Start Time (include AM or PM):<span class="r">*</span></label><div class="dfield"><input id="fieldname4_2" name="fieldname4_2" minlength="" maxlength="" class="field large required" type="text" value=""><span class="uh"></span></div><div class="clearer"></div></div><div class="fields " id="field_2-6"><label for="fieldname11_2">Event End Time (Include AM or PM):<span class="r">*</span></label><div class="dfield"><input id="fieldname11_2" name="fieldname11_2" minlength="" maxlength="" class="field large required" type="text" value=""><span class="uh"></span></div><div class="clearer"></div></div><div class="fields " id="field_2-7"><label for="fieldname5_2">Where will your event be taking place?<span class="r">*</span></label><div class="dfield"><select id="fieldname5_2" name="fieldname5_2" class="field  depItemSel large required"><option selected="" class="depItem" value="Please Select..." vt="Please Select...">Please Select...</option><option dep="fieldname6" class="depItem" value="At our church" vt="At our church">At our church</option><option dep="fieldname7" class="depItem" value="Somewhere else..." vt="Somewhere else...">Somewhere else...</option></select><span class="uh"></span></div><div class="clearer"></div><div class="clearer"></div></div><div class="fields " id="field_2-8" style="display: none;"><label for="fieldname6_2">In which room is your event?<span class="r">*</span></label><div class="dfield"><input id="fieldname6_2" name="fieldname6_2" minlength="" maxlength="" class="field large required ignore" type="text" value=""><span class="uh"></span></div><div class="clearer"></div></div><div class="fields " id="field_2-9" style="display: none;"><label for="fieldname7_2">What is the Venue Name and Address?<span class="r">*</span></label><div class="dfield"><input id="fieldname7_2" name="fieldname7_2" minlength="" maxlength="" class="field large required ignore" type="text" value=""><span class="uh"></span></div><div class="clearer"></div></div><div class="fields " id="field_2-10"><label for="fieldname8_2">Is registration required?<span class="r">*</span></label><div class="dfield"><select id="fieldname8_2" name="fieldname8_2" class="field  depItemSel large required"><option selected="" class="depItem" value="Please Select..." vt="Please Select...">Please Select...</option><option dep="fieldname9" class="depItem" value="Yes" vt="Yes">Yes</option><option class="depItem" value="No" vt="No">No</option></select><span class="uh"></span></div><div class="clearer"></div><div class="clearer"></div></div><div class="fields " id="field_2-11" style="display: none;"><label for="fieldname9_2">How does someone register? (Phone number, website, etc.)<span class="r">*</span></label><div class="dfield"><input id="fieldname9_2" name="fieldname9_2" minlength="" maxlength="" class="field large required ignore" type="text" value=""><span class="uh"></span></div><div class="clearer"></div></div><div class="fields " id="field_2-12"><label for="fieldname10_2">How would you like your event promoted?<span class="r">*</span></label><div class="dfield"><textarea id="fieldname10_2" name="fieldname10_2" minlength="" maxlength="" class="field large required"></textarea><span class="uh"></span></div><div class="clearer"></div></div><div class="fields  comment_area" id="field_2-13"><label id="fieldname12_2">(When you click submit, we'll send this sample form to the email address above so you can see what the results will look like)</label><span class="uh"></span><div class="clearer"></div></div><div class="pbSubmit">Submit</div></div></div>
   </div>
 </div>    
 <div id="cpcaptchalayer_2">
  
 </div>
 <div id="cp_subbtn_2" class="cp_subbtn">Submit</div>
 </form> 
 			</div> <!-- .et_pb_text -->
 			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_4">
				
 				<div class="et_pb_text et_pb_module et_pb_bg_layout_dark et_pb_text_align_center  et_pb_text_3">
				
 <h3>2. Your&nbsp;Unique Form Address:</h3>
 <p><em><img class="aligncenter size-large wp-image-24259" src="http://www.cmiforms.com/wp-content/uploads/2016/01/Address-Bar-1024x90.jpg" alt="Address-Bar" width="1024" height="90" srcset="http://www.cmiforms.com/wp-content/uploads/2016/01/Address-Bar-300x26.jpg 300w, http://www.cmiforms.com/wp-content/uploads/2016/01/Address-Bar-768x67.jpg 768w, http://www.cmiforms.com/wp-content/uploads/2016/01/Address-Bar-1024x90.jpg 1024w, http://www.cmiforms.com/wp-content/uploads/2016/01/Address-Bar-1080x95.jpg 1080w, http://www.cmiforms.com/wp-content/uploads/2016/01/Address-Bar.jpg 1138w" sizes="(max-width: 1024px) 100vw, 1024px"></em></p>
 <p>Link to this page from a button on your website, or give out your direct address to whoever needs it.</p>

 			</div> <!-- .et_pb_text --><hr class="et_pb_module et_pb_space et_pb_divider_1 et-hide-mobile"><div class="et_pb_text et_pb_module et_pb_bg_layout_dark et_pb_text_align_center  et_pb_text_4">
				
 <h3>3. Event Request Emails directly to your inbox:</h3>
 <p><img class="aligncenter size-full wp-image-24260" src="http://www.cmiforms.com/wp-content/uploads/2016/01/Laptop-email-received.png" alt="Laptop-email-received" width="500" height="288" srcset="http://www.cmiforms.com/wp-content/uploads/2016/01/Laptop-email-received-300x173.png 300w, http://www.cmiforms.com/wp-content/uploads/2016/01/Laptop-email-received.png 500w" sizes="(max-width: 500px) 100vw, 500px"></p>

 			</div> <!-- .et_pb_text --><hr class="et_pb_module et_pb_space et_pb_divider_2 et-hide-mobile"><div class="et_pb_module et-waypoint et_pb_image et_pb_animation_off et_pb_image_3 et_always_center_on_mobile et-animated">
 				<img src="http://www.cmiforms.com/wp-content/uploads/2016/01/Try-Premium.png" alt="">
 			</div>
 			</div> <!-- .et_pb_column -->
					
 			</div> <!-- .et_pb_row --><div class=" et_pb_row et_pb_row_3">
				
 				<div class="et_pb_column et_pb_column_4_4 et_pb_column_5">
				
 				<hr class="et_pb_module et_pb_space et_pb_divider et_pb_divider_3 et-hide-mobile"><div class="et_pb_text et_pb_module et_pb_bg_layout_dark et_pb_text_align_center  et_pb_text_5">
				
 <h1 style="text-align: center;"><strong>What’s Features do I get with Premium Forms ($19/month)?</strong></h1>

 			</div> <!-- .et_pb_text -->
 			</div> <!-- .et_pb_column -->
					
 			</div> <!-- .et_pb_row --><div class=" et_pb_row et_pb_row_4">
				
 				<div class="et_pb_column et_pb_column_2_3 et_pb_column_6">
				
 				<div class="et_pb_module et-waypoint et_pb_image et_pb_animation_off et_pb_image_4 et_always_center_on_mobile et-animated">
 				<img src="http://www.cmiforms.com/wp-content/uploads/2016/01/Premium-landing-Page.png" alt="">
 			</div>
 			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_3 et_pb_column_7">
				
 				<div class="et_pb_text et_pb_module et_pb_bg_layout_dark et_pb_text_align_left  et_pb_text_6">
				
 <p>• <strong>Branded Landing Page</strong> with your logo</p>
 <p>• Your choice of up to <strong>6 complete incoming request forms</strong> (Choose as many as apply)</p>
 <p>• <strong>Individual recipients or multiple recipients</strong> per form (ie. “Website” form goes to one email address, “Digital Images” form goes to another, and “Submit An Event” form goes to both.)</p>

 			</div> <!-- .et_pb_text --><div class="et_pb_promo et_pb_module et_pb_bg_layout_dark et_pb_text_align_center  et_pb_cta_0 et_pb_no_bg">
 				<div class="et_pb_promo_description">
					
					

 				</div>
 				<a class="et_pb_promo_button et_pb_button" href="http://www.cmiforms.com/get-premium/">Get Premium Forms!</a>
 			</div>
 			</div> <!-- .et_pb_column -->
					
 			</div> <!-- .et_pb_row -->
				
 			</div> <!-- .et_pb_section --><div class="et_pb_section  et_pb_section_1 et_pb_with_background et_section_regular">
				
				
					
 					<div class=" et_pb_row et_pb_row_5">
				
 				<div class="et_pb_column et_pb_column_4_4 et_pb_column_8">
				
				
 			<div id="et_pb_contact_form_0" class="et_pb_module et_pb_contact_form_container clearfix  et_pb_contact_form_0">
 				<h1 class="et_pb_contact_main_title">Have a Question? We can't wait to hear from you!</h1>
 				<div class="et-pb-contact-message"></div>
				
 				<div class="et_pb_contact">
 					<form class="et_pb_contact_form clearfix" method="post" action="http://www.cmiforms.com/">
 						<div class="et_pb_contact_left">
 							<p class="clearfix">
 								<label for="et_pb_contact_name_0" class="et_pb_contact_form_label">Name</label>
 								<input type="text" id="et_pb_contact_name_0" class="input et_pb_contact_name" value="Name" name="et_pb_contact_name_0">
 							</p>
 							<p class="clearfix">
 								<label for="et_pb_contact_email_0" class="et_pb_contact_form_label">Email Address</label>
 								<input type="text" id="et_pb_contact_email_0" class="input et_pb_contact_email" value="Email Address" name="et_pb_contact_email_0">
 							</p>
 						</div> <!-- .et_pb_contact_left -->

 						<div class="clear"></div>
 						<p class="clearfix">
 							<label for="et_pb_contact_message_0" class="et_pb_contact_form_label">Message</label>
 							<textarea name="et_pb_contact_message_0" id="et_pb_contact_message_0" class="et_pb_contact_message input">Message</textarea>
 						</p>

 						<input type="hidden" value="et_contact_proccess" name="et_pb_contactform_submit_0">

 						<button type="submit" class="et_pb_contact_submit et_pb_button">Submit</button>

						
 			<div class="et_pb_contact_right">
 				<p class="clearfix">
 					<span class="et_pb_contact_captcha_question">13 + 2</span> = <input type="text" size="2" class="input et_pb_contact_captcha" data-first_digit="13" data-second_digit="2" value="" name="et_pb_contact_captcha_0">
 				</p>
 			</div> <!-- .et_pb_contact_right -->

 						<input type="hidden" id="_wpnonce-et-pb-contact-form-submitted" name="_wpnonce-et-pb-contact-form-submitted" value="17632d96d4"><input type="hidden" name="_wp_http_referer" value="/">
 					</form>
 				</div> <!-- .et_pb_contact -->
 			</div> <!-- .et_pb_contact_form_container -->
			
 			</div> <!-- .et_pb_column -->
					
 			</div> <!-- .et_pb_row -->
				
 			</div> <!-- .et_pb_section -->
 					</div> <!-- .entry-content -->

				
 				</article> <!-- .et_pb_post -->

			

 </div> <!-- #main-content -->


 	<span class="et_pb_scroll_top et-pb-icon et-visible" style="display: inline;"></span>


 			<footer id="main-footer">
				

		
 				<div id="footer-bottom">
 					<div class="container clearfix">
 				<ul class="et-social-icons">

 	<li class="et-social-icon et-social-facebook">
 		<a href="https://www.facebook.com/groups/1694398920848271/" class="icon">
 			<span>Facebook</span>
 		</a>
 	</li>
 	<li class="et-social-icon et-social-twitter">
 		<a href="https://twitter.com/therealcmi" class="icon">
 			<span>Twitter</span>
 		</a>
 	</li>

 </ul>
 						<p id="footer-info">Designed by <a href="http://www.churchmarketingideas.com">Church Marketing Ideas</a> | Copyright 2016</p>
 					</div>	<!-- .container -->
 				</div>
 			</footer> <!-- #main-footer -->
 		</div> <!-- #et-main-area -->


 	</div>