 
<div class="block">

    <div class="row">  
 <div class="col-sm-offset-1 col-sm-10">
<br><h2>Event Submission Received</h2>
<br>
 <h4>Thank you for your event submission. The information has been submitted.</h4>
<br> 
<br> <br> 
</p>
<br><br>
</div></div>
</div>

