 <h1>Welcome to CMIForms.com</h1>
 
<p>
	Here is the link to your new form - pass this link around:
 <%= link_to "#{@user.subdomain}.#{ENV['DOMAIN_NAME']}",  root_url(subdomain: @user.subdomain) %>
	
</p>

<br>
<br>
 
