<div class="container">
  <div class="row block">
    <h3>Users</h3>
  	  <div class="pull-center" >  
		  <h5> 
  	 <%=	 link_to "Download All Users", :controller => :users, :action => :all_CSV, :format => 'xls' %> 	 
  	 </h5> 
 </div>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
