<%- model_class = Faq -%>
<% provide(:title, "Frequently Asked Questions" ) %>

 
  <div class="block"> 
 <h3>Frequently Asked Questions</h3>
 <br>
<div class="row">
	<div class="col-sm-offset-1 col-sm-10 mission_bg img-rounded ">
  
 
		<div id="faqs">
			  
			<%= render @faqs %>

		</div>

	</div>
</div>

</div>
 

  
 
 
