<%- model_class = Faq -%>
<% provide(:title, "Frequently Asked Questions" ) %>

 
 
 
<div class="row">
	<div class="col-sm-offset-1 col-sm-10 mission_bg img-rounded ">
  
 
		<div id="faqs">
			  
			<%= render @faqs %>

		</div>

	</div>
</div>
 

  
 
 
