<%- model_class = EventSubmission -%>
 <% provide(:title, "#{@detail.church_name.titleize} - provided by CMIForms.com" ) %>
<div class="block">
<div class="page-header">
  <h1><%= "#{@detail.church_name.titleize}"%> </h1>
<h5>A free service provided by <a style="color: #0000ff;" href="http://www.cmiforms.com" target="_blank">CMIForms.com</a>
</h5>
<br>
<h2>Submit an Event:</h2> 
<h5><%= "#{@tenant.titleize}"%>  will receive this submission by email. You will also receive the information to the email address entered below:</h5>
</div>

    <div class="row">  
 <div class="col-sm-offset-1 col-sm-10">
<%= render :partial => 'form' %>
<br><br>
</div></div>
</div>