<%- model_class = Detail -%>

<div class="block">
 


<div class="page-header">
	

    <% if !ready?(current_user)%> 
   
 

 <h1> Step 2 of 2 </h1>
   <% else %>
  
     <h2>Edit - Event Submission Details</h2>
   
     <% end %>
  
  
</div>



<%= render :partial => 'form' %>
</div>