 	<span class="et_pb_scroll_top et-pb-icon et-visible" style="display: inline;"></span>


 			<footer id="main-footer">
				

		
 				<div id="footer-bottom">
 					<div class="container clearfix">
 				<ul class="et-social-icons">

 	<li class="et-social-icon et-social-facebook">
 		<a href="https://www.facebook.com/groups/1694398920848271/" class="icon">
 			<span>Facebook</span>
 		</a>
 	</li>
 	<li class="et-social-icon et-social-twitter">
 		<a href="https://twitter.com/therealcmi" class="icon">
 			<span>Twitter</span>
 		</a>
 	</li>

 </ul>
 						<p id="footer-info">Designed by <a href="http://www.churchmarketingideas.com">Church Marketing Ideas</a> | Copyright 2016</p>
 					</div>	<!-- .container -->
 				</div>
 			</footer> <!-- #main-footer -->
 		</div> <!-- #et-main-area -->


 	</div>