<nav class="navbar navbar-inverse navbar-fixed-tops" role="navigation">
  <div class="container">
  <ul class="pull-right ">

 
 	<li>
 		<a href="https://www.facebook.com/groups/1694398920848271/" class="icon">
 			<span><i class="fa fa-facebook white_fa" aria-hidden="true"></i></span>
 		</a>
  &nbsp;&nbsp;
 		<a href="https://twitter.com/therealcmi" class="icon">
 			<span><i class="fa fa-twitter white_fa" aria-hidden="true"></i></span>
 		</a>
 	</li>

 </ul>				 

 		 
	
 


  </div>
</nav>


<nav class="navbar navbar-default navbar-fixed-top_lower" role="navigation">
  <div class="container">
  

  <ul class="nav nav-pills pull-left "> 
	 <li> <%= link_to image_tag("CMI-Forms-Logo.jpg" ), root_path, :class=>' navbar-brand cmilogo'%> </li>
  </ul>
  <div class="collapse navbar-collapse" id="navbar-collapse-8647774156"> 
  <ul class="nav nav-pills pull-right navbar-fixed-top-text"> 

   <%= render 'layouts/navigation_links' %>
   <%= render 'layouts/nav_links_for_auth' %>
   

         
	 
		 
		 </ul>
      
</div>

  </div>
</nav>

 